<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style type="text/css">
#parent{
    position:fixed;
    bottom:0px;
    width:100%;   //width should be 100%
 } 
 #child{
    width:300px; //min width should give to center the div.
    margin:0px auto; //here it will make center 
 }  
</style>
<title>Worblehat Bookmanager</title>
</head>
<body>
<h1 id="welcome_heading">Worblehat Bookmanager</h1>

<ul>
    <li><a th:href="@{/bookList}">Show all Books</a></li>
    <li><a th:href="@{/insertBooks}">Add a new book</a></li>
    <li><a th:href="@{/borrow}">Borrow Book</a></li>
    <li><a th:href="@{/returnAllBooks}">Return all Books</a></li>
</ul>
<div id="parent">
	<div id="child">version=<span th:text="${@environment.getProperty('info.version')}">version</span></div>
</div>
</body>
</html>
